<div class="card-list">
<% for(let i=0; i<data.length; i++){ %>
    
    <div class="card card-item">
        <img src="<%=data[i].imgUrl%>" class="card-img-top" alt="" />
        <div class="card-body">
            <h5 class="card-title bold"><%=data[i].title%></h5>            
              <p class="text bold">• 음식 종류</p> 
              <p class="text"><%=data[i].cate%></p>            
              <p class="text bold">• 주소</p> 
              <p class="text"><%=data[i].addr%></p>
              <p class="text bold">• 평점</p> 
              <p class="text"><%=data[i].point%></p>          
            <a href="<%=data[i].url%>" class="btn btn-primary">자세히 보기</a>
        </div>
    </div>
    <% } %>
</div>